gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/key.properties
GeneratedPluginRegistrant.java

# Fastlane exclusions
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/metadata/android/en-US/images/phoneScreenshots
**/fastlane/test_output